@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-brand-primary: #1e40af;
  --color-brand-contrast: #facc15;
  --color-brand-quirk: #8b5cf6;

  /* Surface/Background Colors */
  --color-surface-paper: #fdfdfd;
  --color-surface-ink: #f1f5f9;
  --color-surface-border: #e2e8f0;

  /* Text Colors */
  --color-title: #141F38;
  --color-body: #334155;
  --color-funny: #4338ca;
  --color-testingred: #FF0000;
}